<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" media="screen">
  <title>English Premier League Table</title>
</head>
<body>
  <h1><img src="/images/icon.webp"> Premier League Table</h1>

  <table>
    <thead>
      <tr>
        <th class="mobile-rank">Rank</th>
        <th class="mobile-logo">Logo</th>
        <th class="mobile-team-name">Team Name</th>
        <th class="mobile-games">Games</th>
        <th>Won</th>
        <th>Drawn</th>
        <th>Lost</th>
        <th>GF</th>
        <th>GA</th>
        <th class="mobile-goals-diff">GD</th>
        <th class="mobile-points">Points</th>
      </tr>
    </thead>
    <tbody>
      <!-- LoopThroughTeamData -->
      <!-- This is a placeholder that will be replaced dynamically -->
    </tbody>
  </table>
</body>
</html>
