:root {
  --color-1: #f5f5f5; /* Light gray background */
  --color-2: #4d2d5c; /* Purple accent */
  --color-3: #ffffff; /* White text */
  --font: 'Arial', sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--color-1);
  margin: 0;
}

h1 {
  text-align: center;
  color: var(--color-2);
  animation: fadeIn 1s ease-out;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  box-shadow: 0 9px 13px rgba(0, 0, 0, 0.2);
  background-color: var(--color-3);
  animation: fadeIn 1s ease-out;
  border-radius: 4px;
}

th, td {
  border: 1px solid var(--color-1);
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease-out;
}

th {
  background-color: var(--color-2);
  color: var(--color-3);
  border-radius: 4px;
}

img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

tr:hover {
  background-color: rgba(77, 45, 92, 0.1); /* Light purple on hover */
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  table {
    width: 80%;
    margin-left: 10%;
  }
}

/* Mobile view to hide some table datas */
@media only screen and (max-width: 767px) {
  table {
    width: 100%;
  }

  th, td {
    display: none;
  }

  td.mobile-rank, td.mobile-logo, td.mobile-team-name, td.mobile-games, td.mobile-goals-diff, td.mobile-points,
  th.mobile-rank, th.mobile-logo, th.mobile-team-name, th.mobile-games, th.mobile-goals-diff, th.mobile-points {
    display: table-cell;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
